@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


:root {
    --overlay-color: rgba(213, 241, 178, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*MAIN SECTION*/


.main {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
    transition: 0.5s;
}

.main.active {
    right: 300px;
}

.main header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    align-items: center;
    cursor: pointer;
    color: white;
}


.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

.text img {
    position: relative;
    width: 200px;
    height: 180px;
    border-radius: 44px;
}

.text h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text select {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 44px;

}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    color: white;
    margin-right: 20px;
    transform: scale(1);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(1) translateY(-30px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(213, 241, 178, 1);
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.menu ul li a:hover {
    color: rgba(174, 225, 109, 1);
}

/*END MAIN SECTION*/

/*SERVICE SECTION*/

.service {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.service-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: black;

}

.service-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.service-container::-webkit-scrollbar {
    display: none;
}

.service-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.service-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.service-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  */

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.service-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: rgba(213, 241, 178, 1);
    color: #fff;
}

.service-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.service-brand {
    text-transform: uppercase;
}

.service-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

.about {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(236, 238, 136, 1);
    margin: 0 auto;
    padding: 50px 20px;
}

.about img {
    border-radius: 44px;
}

.about .col-left {
    width: 100%;
}

.about .col-right {
    width: 100%;
    color: rgb(12, 12, 12);
}

.about .col-left-content {
    padding: 20px 40px;
}

.col-left-content img {
    width: 100%;
}

.about .col-right-content {
    padding: 60px 80px;    
}

.about .col-right-content h1{
    padding: 20px 0px;
}


/*Media Querries*/


@media (max-width: 790px) {

    .main,
    .main header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
    .about{
        flex-direction: column;
    }
    

}